name: couldai_user_app
description: "A simple VPN app optimized for WhatsApp calls."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  # Added for State Management
  provider: ^6.1.1
  # Added for Ads
  google_mobile_ads: ^5.0.0
  # Added for persisting connection state (Always-On simulation)
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
